<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="taylor, lanclos, taylor lanclos, programming, programmer, software, engineer">
    <meta name="description" content="Hi! I'm Taylor Lanclos, a Software Engineer.">
    <meta name="HandheldFriendly" content="True">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://taylorlanclos.com">
    <meta property="og:title" content="Taylor Lanclos">
    <meta property="og:image" content="http://taylorlanclos.com">
    <meta property="og:description" content="Hi! I'm Taylor Lanclos, a Software Engineer.">
    <meta property="og:site_name" content="Taylor Lanclos">
    <meta property="og:locale" content="en_US">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@taylor_lanclos">
    <meta name="twitter:title" content="Taylor Lanclos">
    <meta name="twitter:description" content="Hi! I'm Taylor Lanclos, a Software Engineer.">
    <meta name="twitter:image:src" content="http://taylorlanclos.com">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,400italic|Material+Icons">
    <title>Taylor Lanclos</title>
    <script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Taylor Lanclos",
        "url": "https://www.taylorlanclos.com",
        "sameAs": [
          "https://www.linkedin.com/in/taylor-lanclos/",
          "https://twitter.com/taylor_lanclos",
          "https://github.com/tlanclos"
        ]
      }
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but personal-website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
