<template>
  <ul class="bullet-list">
    <slot></slot>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { isNullOrUndefined } from "util";

@Component
export default class BulletList extends Vue {}
</script>

<style lang="scss" scoped>
.bullet-list {
  margin-top: 16px;
  list-style-type: none;
  padding-left: 0;
}
</style>
