<template>
  <li class="bullet">
    <p>
      <slot></slot>
    </p>
  </li>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { isNullOrUndefined } from "util";

@Component
export default class Bullet extends Vue {}
</script>

<style lang="scss" scoped>
.bullet {
  display: grid;
  text-align: justify;
  border-bottom: solid 1px var(--md-theme-default-divider);
}
</style>
