<template>
  <div class="header">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Header extends Vue {}
</script>

<style lang="scss" scoped>
.header {
  text-align: center;
  background: rgba(0, 0, 0, 0.12);
  padding: 2px;

  a {
    font-weight: 300;
    text-decoration: underline;
  }
}
</style>
