<template>
  <div class="history-content">
    <slot name="header"></slot>
    <slot></slot>
    <slot name="content"></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HistoryContent extends Vue {}
</script>

<style lang="scss" scoped>
.history-content {
  .md-divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
</style>
