<template>
  <div class="history">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { isNullOrUndefined } from "util";

@Component
export default class History extends Vue {}
</script>

<style lang="scss" scoped>
.history {
  position: relative;
  margin-bottom: 32px;
}
</style>
