<template>
  <Header class="history-header pw-flex-columns pw-alignment-center-center">
    <div class="md-display-1">{{ headline }}</div>
    <div class="md-subheading">{{ subheading }}</div>
  </Header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Header from "@/components/resume/Header.vue";

@Component({
  components: {
    Header
  }
})
export default class HistoryHeader extends Vue {
  @Prop() headline!: String;
  @Prop() subheading!: String;
}
</script>

<style lang="scss" scoped>
.history-header {
  background: rgba(0, 0, 0, 0.12);
  padding: 8px;

  .md-display-1 {
    text-align: center;
    margin-top: 4px;
    line-height: 1.5;
    color: var(--md-theme-default-header-text);
  }
  .md-subheading {
    text-align: center;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--md-theme-default-primary);
  }

  @media (orientation: landscape) {
    @media (min-width: 960px) {
      .md-display-1 {
        font-size: 2.2em;
      }
      .md-subheading {
        font-size: 1.76em;
      }
    }

    @media (min-width: 600px) and (max-width: 959px) {
      .md-display-1 {
        font-size: 2em;
        margin-bottom: 0;
      }
      .md-subheading {
        font-size: 1.6em;
        margin-bottom: 0;
      }
    }

    @media (max-width: 599px) {
      .md-display-1 {
        font-size: 1.6em;
        margin-bottom: 0;
      }
      .md-subheading {
        font-size: 1.3em;
        margin-bottom: 0;
      }
    }
  }

  @media (orientation: portrait) {
    @media (min-height: 960px) {
      .md-display-1 {
        font-size: 2.2em;
        margin-bottom: 0;
      }
      .md-subheading {
        font-size: 1.76em;
        margin-bottom: 0;
      }
    }

    @media (min-height: 600px) and (max-height: 959px) {
      .md-display-1 {
        font-size: 2em;
        margin-bottom: 0;
      }
      .md-subheading {
        font-size: 1.6em;
        margin-bottom: 0;
      }
    }

    @media (max-height: 599px) {
      .md-display-1 {
        font-size: 1.6em;
        margin-bottom: 0;
      }
      .md-subheading {
        font-size: 1.3em;
        margin-bottom: 0;
      }
    }
  }
}
</style>
