<template>
  <div class="timeframe">
    <div class="start-year md-display-1">{{ computedStartDate }}</div>
    <div class="long-dash md-display-1">–</div>
    <div class="end-year md-display-1">{{ computedEndDate }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { isNullOrUndefined } from "util";

@Component
export default class TimeFrame extends Vue {
  @Prop({ default: null })
  start!: Date;
  @Prop({ default: null })
  end!: Date;

  get computedEndDate(): String {
    if (isNullOrUndefined(this.end)) {
      return "Present";
    } else {
      let month = this.getDateMonth(this.end);
      let year = this.getDateYear(this.end);
      return `${month} ${typeof year === "number" ? String(year) : "Error"}`;
    }
  }

  get computedStartDate(): String {
    if (isNullOrUndefined(this.start)) {
      return "Unknown";
    } else {
      let month = this.getDateMonth(this.start);
      let year = this.getDateYear(this.start);
      return `${month} ${typeof year === "number" ? String(year) : "Error"}`;
    }
  }

  getDateYear(date: Date): Number | null {
    if (isNullOrUndefined(date)) {
      return null;
    } else {
      return date.getFullYear();
    }
  }

  getDateMonth(date: Date): String | null {
    if (isNullOrUndefined(date)) {
      return null;
    } else {
      return [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ][date.getMonth()];
    }
  }
}
</script>

<style lang="scss" scoped>
.timeframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: unset;
  top: unset;
  bottom: unset;
  right: unset;
  border-left: solid 1px var(--md-theme-default-divider);
  border-right: solid 1px var(--md-theme-default-divider);
  border-bottom: solid 1px var(--md-theme-default-divider);

  .md-display-1 {
    font-weight: 300;
    color: #434343;

    @media (orientation: landscape) {
      @media (min-width: 960px) {
        font-size: 1.6em;
      }

      @media (min-width: 600px) and (max-width: 959px) {
        font-size: 1.5em;
      }

      @media (max-width: 599px) {
        font-size: 1.2em;
      }
    }

    @media (orientation: portrait) {
      @media (min-height: 960px) {
        font-size: 1.6em;
      }

      @media (min-height: 600px) and (max-height: 959px) {
        font-size: 1.5em;
      }

      @media (max-height: 599px) {
        font-size: 1.2em;
      }
    }
  }

  .long-dash {
    margin-left: 8px;
    margin-right: 8px;
  }
}
</style>
