<template>
  <AboutContent/>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AboutContent from "@/components/AboutContent.vue";

@Component({ components: { AboutContent } })
export default class About extends Vue {}
</script>
