<template>
  <HomeContent/>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeContent from "@/components/HomeContent.vue";

@Component({ components: { HomeContent } })
export default class Home extends Vue {}
</script>
