<template>
  <ProjectsContent/>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProjectsContent from "@/components/ProjectsContent.vue";

@Component({ components: { ProjectsContent } })
export default class Projects extends Vue {}
</script>
