<template>
  <ResumeContent/>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ResumeContent from "@/components/ResumeContent.vue";

@Component({ components: { ResumeContent } })
export default class Resume extends Vue {}
</script>
