<template>
  <div class="pw-flex pw-flex-columns pw-padding-2x pw-padding-top-4x pw-alignment-start-center">
    <div class="pw-about-me-container pw-flex pw-flex-columns pw-alignment-start-center">
      <div class="pw-about-me-image pw-margin-bottom-2x">
        <img class="md-elevation-1" src="@/assets/lake-travis.jpg">
      </div>
      <Header class="pw-text-color-primary md-display-1 pw-font-weight-300 pw-max-width">My Story</Header>
      <div class="pw-about-me md-body-1">
        <p>
          Hi! My name is Taylor Lanclos and I grew up in the heart of Acadiana around the city of Lafayette, Louisiana. I graduated from the University of Louisiana at Lafayette 
          with a B.S. in Computer Science with a concentration in Computer Engineering and a minor in Mathematics.
          I am fluent in multiple programming languages with a preference for functional programming.
        </p>
        <p>
          When I'm away from work, I enjoy hiking and visiting new cities. I currently plan on moving in January 2019 for a change of scenery.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { Component, Prop, Vue } from "vue-property-decorator";
import Header from "@/components/resume/Header.vue";

@Component({
  components: {
    Header
  }
})
export default class AboutContent extends Vue {}
</script>

<style lang="scss" scoped>
.pw-about-me-container {
  max-width: 800px;
  width: 100%;

  .pw-about-me-image {
    max-width: 800px;
  }

  .pw-about-me {
    font-weight: 300;
    line-height: 1.25;

    p {
      text-align: justify;
    }

    @media (orientation: landscape) {
      @media (min-width: 2560px) {
        font-size: 1.7em;
      }

      @media (min-width: 1920px) and (max-width: 2559px) {
        font-size: 1.3em;
      }

      @media (min-width: 1280px) and (max-width: 1919px) {
        font-size: 1em;
      }

      @media (min-width: 960px) and (max-width: 1279px) {
        font-size: 1em;
      }

      @media (min-width: 600px) and (max-width: 959px) {
        font-size: 0.9em;
      }

      @media (max-width: 599px) {
        font-size: 0.8em;
      }
    }

    @media (orientation: portrait) {
      @media (min-height: 2560px) {
        font-size: 1.7em;
      }

      @media (min-height: 1920px) and (max-height: 2559px) {
        font-size: 1.3em;
      }

      @media (min-height: 1280px) and (max-height: 1919px) {
        font-size: 1em;
      }

      @media (min-height: 960px) and (max-height: 1279px) {
        font-size: 1em;
      }

      @media (min-height: 600px) and (max-height: 959px) {
        font-size: 0.9em;
      }

      @media (max-height: 599px) {
        font-size: 0.8em;
      }
    }
  }
}
</style>
