<template>
  <div class="pw-flex pw-flex-columns pw-alignment-center-center">
    <div class="pw-flex-columns pw-margin-1x pw-alignment-center-end pw-profile-photo-container">
      <div class="pw-flex-columns pw-profile-photo-content">
        <md-avatar class="md-avatar-icon pw-profile-photo">
          <img src="@/assets/avatar.jpg" alt="Avatar">
        </md-avatar>
      </div>
    </div>
    <div class="pw-flex pw-flex-columns pw-alignment-center-center pw-greeting">
      <p class="md-display-4 pw-greeting-name pw-greeting-margin">Hi!&nbsp;I'm Taylor&nbsp;Lanclos</p>
      <p class="md-display-2 pw-greeting-title pw-greeting-margin pw-text-no-wrap pw-font-weight-300">Software Engineer</p>
      <div class="pw-flex-rows pw-social-icon-content pw-alignment-start-center">
        <md-button class="md-icon-button md-fab md-raised pw-greeting-margin pw-social-icon-github" :md-ripple="false" href="https://github.com/tlanclos">
          <img src="@/assets/social-icons/github.png" alt="Github">
        </md-button>
        <md-button class="md-icon-button md-fab md-raised pw-greeting-margin pw-social-icon-twitter" :md-ripple="false" href="https://twitter.com/taylor_lanclos">
          <img src="@/assets/social-icons/twitter.png" alt="Twitter">
        </md-button>
        <md-button class="md-icon-button md-fab md-raised pw-greeting-margin pw-social-icon-linkedin" :md-ripple="false" href="https://www.linkedin.com/in/taylor-lanclos/">
          <img src="@/assets/social-icons/linkedin.png" alt="LinkedIn">
        </md-button>
        <md-button class="md-icon-button md-fab md-raised pw-greeting-margin pw-social-icon-email" :md-ripple="false" href="mailto:taylor@taylorlanclos.com">
          <img src="@/assets/social-icons/email.png" alt="Email">
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HomeContent extends Vue {}
</script>

<style lang="scss" scoped>
$profile-photo-oldiepc-size: 140px;
$profile-photo-xxxsmall-size: 180px;
$profile-photo-xxsmall-size: 220px;
$profile-photo-xsmall-size: 250px;
$profile-photo-small-size: 320px;
$profile-photo-medium-size: 400px;
$profile-photo-large-size: 450px;
$profile-photo-xlarge-size: 680px;
$profile-photo-size: $profile-photo-medium-size;

.pw-profile-photo-container {
  flex: 1 1 20%;

  @media (max-width: 1024px) {
    flex: 1 1;
  }

  @media (max-height: 1024px) and (orientation: portrait) {
    flex: 1 1;
  }

  .pw-profile-photo-content {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    @media (orientation: landscape) {
      @media (min-width: 2560px) {
        min-width: $profile-photo-xlarge-size;
        min-height: $profile-photo-xlarge-size;
        width: $profile-photo-xlarge-size;
        height: $profile-photo-xlarge-size;

        /* Special case to start capturing ultrawide */
        @media (min-aspect-ratio: 2/1) {
          min-width: $profile-photo-medium-size;
          min-height: $profile-photo-medium-size;
          width: $profile-photo-medium-size;
          height: $profile-photo-medium-size;
        }
      }

      @media (min-width: 1920px) and (max-width: 2559px) {
        min-width: $profile-photo-large-size;
        min-height: $profile-photo-large-size;
        width: $profile-photo-large-size;
        height: $profile-photo-large-size;
      }

      @media (min-width: 1280px) and (max-width: 1919px) {
        min-width: $profile-photo-small-size;
        min-height: $profile-photo-small-size;
        width: $profile-photo-small-size;
        height: $profile-photo-small-size;

        /* special case for 720p */
        @media (max-height: 680px) {
          min-width: $profile-photo-xxsmall-size;
          min-height: $profile-photo-xxsmall-size;
          width: $profile-photo-xxsmall-size;
          height: $profile-photo-xxsmall-size;
        }
      }

      @media (min-width: 960px) and (max-width: 1279px) {
        min-width: $profile-photo-xsmall-size;
        min-height: $profile-photo-xsmall-size;
        width: $profile-photo-xsmall-size;
        height: $profile-photo-xsmall-size;
      }

      @media (min-width: 600px) and (max-width: 959px) {
        min-width: $profile-photo-xsmall-size;
        min-height: $profile-photo-xsmall-size;
        width: $profile-photo-xsmall-size;
        height: $profile-photo-xsmall-size;

        /* special case to capture oldie PC */
        @media (max-aspect-ratio: 4/3) {
          min-width: $profile-photo-oldiepc-size;
          min-height: $profile-photo-oldiepc-size;
          width: $profile-photo-oldiepc-size;
          height: $profile-photo-oldiepc-size;
        }
      }

      @media (max-width: 599px) {
        min-width: $profile-photo-xxxsmall-size;
        min-height: $profile-photo-xxxsmall-size;
        width: $profile-photo-xxxsmall-size;
        height: $profile-photo-xxxsmall-size;
      }
    }

    @media (orientation: portrait) {
      @media (min-height: 2400px) {
        min-width: $profile-photo-xlarge-size;
        min-height: $profile-photo-xlarge-size;
        width: $profile-photo-xlarge-size;
        height: $profile-photo-xlarge-size;
      }

      @media (min-height: 1700px) and (max-height: 2399px) {
        min-width: $profile-photo-large-size;
        min-height: $profile-photo-large-size;
        width: $profile-photo-large-size;
        height: $profile-photo-large-size;
      }

      @media (min-height: 1050px) and (max-height: 1699px) {
        min-width: $profile-photo-small-size;
        min-height: $profile-photo-small-size;
        width: $profile-photo-small-size;
        height: $profile-photo-small-size;
      }

      @media (min-height: 850px) and (max-height: 1049px) {
        min-width: $profile-photo-xsmall-size;
        min-height: $profile-photo-xsmall-size;
        width: $profile-photo-xsmall-size;
        height: $profile-photo-xsmall-size;
      }

      @media (min-height: 510px) and (max-height: 849px) {
        min-width: $profile-photo-xxsmall-size;
        min-height: $profile-photo-xxsmall-size;
        width: $profile-photo-xxsmall-size;
        height: $profile-photo-xxsmall-size;
      }

      @media (max-height: 509px) {
        min-width: $profile-photo-xxxsmall-size;
        min-height: $profile-photo-xxxsmall-size;
        width: $profile-photo-xxxsmall-size;
        height: $profile-photo-xxxsmall-size;
      }
    }

    .pw-profile-photo {
      min-width: 100%;
      min-height: 100%;
      border: solid 1px #bdbdbd;
      border-radius: 100%;
      box-shadow: 0 3px 5px -1px rgba(68, 138, 255, 0.2),
        0 5px 8px 0 rgba(68, 138, 255, 0.14),
        0 1px 14px 0 rgba(68, 138, 255, 0.12);
    }
  }
}

.pw-greeting {
  .pw-greeting-margin {
    margin: 8px;
  }

  .pw-greeting-name {
    line-height: 1.2;
  }

  .pw-greeting-title {
    line-height: 1;
  }

  @media (orientation: landscape) {
    @media (min-width: 2560px) {
      .pw-greeting-name {
        font-size: 9em;
        line-height: 1.2;
      }

      .pw-greeting-title {
        font-size: 4em;
      }
    }

    @media (min-width: 1920px) and (max-width: 2559px) {
      .pw-greeting-name {
        font-size: 7.5em;
      }

      .pw-greeting-title {
        font-size: 3.5em;
      }
    }

    @media (min-width: 1280px) and (max-width: 1919px) {
      .pw-greeting-name {
        font-size: 4.5em;
      }

      .pw-greeting-title {
        font-size: 2.7em;
      }
    }

    @media (min-width: 960px) and (max-width: 1279px) {
      .pw-greeting-name {
        font-size: 5.5em;
      }

      .pw-greeting-title {
        font-size: 2.75em;
      }
    }

    @media (min-width: 600px) and (max-width: 959px) {
      .pw-greeting-name {
        font-size: 3.75em;
      }

      .pw-greeting-title {
        font-size: 2.25em;
      }
    }

    @media (max-width: 599px) {
      .pw-greeting-name {
        font-size: 3em;
      }

      .pw-greeting-title {
        font-size: 1.75em;
      }
    }
  }

  @media (orientation: portrait) {
    @media (min-height: 2500px) {
      .pw-greeting-name {
        font-size: 10em;
        line-height: 1.2;
      }

      .pw-greeting-title {
        font-size: 4.5em;
      }
    }

    @media (min-height: 1790px) and (max-height: 2499px) {
      .pw-greeting-name {
        font-size: 7.5em;
      }

      .pw-greeting-title {
        font-size: 3.5em;
      }
    }

    @media (min-height: 1050px) and (max-height: 1789px) {
      .pw-greeting-name {
        font-size: 6em;
      }

      .pw-greeting-title {
        font-size: 3.75em;
      }
    }

    @media (min-height: 900px) and (max-height: 1049px) {
      .pw-greeting-name {
        font-size: 5.5em;
      }

      .pw-greeting-title {
        font-size: 2.75em;
      }
    }

    @media (min-height: 510px) and (max-height: 899px) {
      .pw-greeting-name {
        font-size: 3.25em;
      }

      .pw-greeting-title {
        font-size: 2em;
      }
    }

    @media (max-height: 509px) {
      .pw-greeting-name {
        font-size: 3em;
      }

      .pw-greeting-title {
        font-size: 1.75em;
      }
    }
  }
}

.pw-social-icon-content {
  margin-top: 16px;
  margin-bottom: 16px;

  @media (max-height: 900px) {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .pw-social-icon-linkedin {
    background-color: #0977b6 !important;

    img {
      width: 94%;
      height: 94%;
    }
  }

  .pw-social-icon-github {
    background-color: #1b1817 !important;

    img {
      width: 94%;
      height: 94%;
    }
  }

  .pw-social-icon-twitter {
    background-color: #1da1f2 !important;

    img {
      width: 94%;
      height: 94%;
    }
  }

  .pw-social-icon-email {
    background-color: #1b1817 !important;

    img {
      width: 94%;
      height: 94%;
    }
  }
}

.md-icon-button {
  @media (min-height: 2560px) {
    $size: 72px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  @media (min-height: 1920px) and (max-height: 2559px) {
    $size: 72px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  @media (min-height: 1280px) and (max-height: 1919px) {
    $size: 60px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  @media (min-height: 960px) and (max-height: 1279px) {
    $size: 52px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  @media (min-height: 600px) and (max-height: 959px) {
    $size: 38px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  @media (max-height: 599px) {
    $size: 30px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
  }

  &.pw-greeting-margin {
    margin: 8px;
  }
}
</style>
