<template>
  <div class="pw-flex pw-flex-columns pw-padding-2x pw-padding-top-4x pw-alignment-start-center">
    <div class="pw-flex pw-flex-columns pw-alignment-start-center pw-projects">
      <div class="pw-project">
        <Header>
          <a class="md-headline" href="https://github.com/opencv/opencv">OpenCV</a>
        </Header>
        <p>
          OpenCV is a popular open source computer vision library. 
          I added a feature to OpenCV to support <span class="md-body-2">CV_CAP_PROP_BUFFERSIZE</span> on the V4L2 camera adapter (<a class="md-body-1" href="https://github.com/opencv/opencv/pull/11047">Commit #11047</a>).
          This change allows the user to reduce the delay between the real world and the retreived frame by ~120ms (at 30fps).
        </p>
      </div>
      
      <div class="pw-project">
        <Header>
          <a class="md-headline" href="https://github.com/tlanclos/llanos">LlanOS</a>
        </Header>
        <p>
          LlanOS is a personal project of mine that I am using to learn more about the x86 architecture.
          Operating Systems has always been one of my favorite subjects, but I have only worked with educational operating systems like, <a class="md-body-1" href="https://homes.cs.washington.edu/~tom/nachos/">NachOS</a>, which run on the MIPS architecture.
          My specific goal for this project is to learn how to handle the x86 interrupt and memory management schemes.
        </p>
      </div>

      <div class="pw-project">
        <Header>
          <a class="md-headline" href="https://bitbucket.org/tlanclos/personal-website">Personal Website</a>
        </Header>
        <p>
          This is the website you are reading right now! It is written in TypeScript and uses Vue with Vue Material.
        </p>
      </div>

      <div class="pw-project">
        <Header>
          <a class="md-headline" href="https://github.com/BoysNBerries/ProjectRetrospection">Project Retrospection</a>
        </Header>
        <p>
          Project Retrospection is a new Android application that I am working on with a few of my friends to learn Android development and <a class="md-body-1" href="">Kotlin</a>.
          The application has a simple purpose―to track data. The idea is to build a uniform data tracking app that can be used by anybody to easily track any question they have.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Header from "@/components/resume/Header.vue";

@Component({
  components: {
    Header
  }
})
export default class ProjectsContent extends Vue {}
</script>

<style lang="scss" scoped>
.pw-projects {
  margin: 16px;
  max-width: 800px;
  width: 100%;
}

.pw-project {
  text-align: justify;
  width: 100%;
}
</style>
