<template>
  <div class="">
    <div class="previous-jobs pw-flex-columns pw-alignment-start-center">
      <div class="pw-content-max-width pw-padding-2x">
        <div class="md-display-3 pw-margin-vertical-4x pw-text-uppercase">Experience</div>
        <History>
          <HistoryContent>
            <HistoryHeader slot="header" subheading="Manchac Technologies, LLC" headline="Sr. Software Engineer"/>
            <TimeFrame class="md-primary" :start="new Date(2016, 4)" :end="new Date(2018, 11)"/>
            <BulletList slot="content">
              <Bullet>
                Implemented custom thermal printer driver enabling the creation of the <a href="http://manchac.com/products.html?catID=cat-single-dose&prodID=prod-u60">U60</a> robot.
              </Bullet>
              <Bullet>
                Engineered custom device driver software facilitating the development of the <a href="https://vimeo.com/247215130">Dosis360</a>.
              </Bullet>
              <Bullet>
                Established continous integration into Manchac's software development cycle using <a href="https://jenkins.io/">Jenkins</a> saving ~30 minutes of development time per day.
              </Bullet>
              <Bullet>
                Introduced unit testing into new software projects leading to >90% code coverage in 2 repositories containing 60k non-commented lines of code.
              </Bullet>
              <Bullet>
                Added support for Ubuntu to DOSIS software revitalizing the L60 product line for 5 years.
              </Bullet>
            </BulletList>
          </HistoryContent>
        </History>
        <History>
          <HistoryContent>
            <HistoryHeader slot="header" subheading="Manchac Technologies, LLC" headline="Software Engineer (Part Time)"/>
            <TimeFrame class="md-primary" :start="new Date(2013, 5)" :end="new Date(2016, 4)"/>
            <BulletList slot="content">
              <Bullet>
                Accelerated label rendering time from 4 seconds to &lt;1 second by implementing new label rendering software for the <a href="http://manchac.com/products.html?catID=cat-single-dose&prodID=prod-l60">L60</a>.
              </Bullet>
              <Bullet>
                Improved <a href="https://en.wikipedia.org/wiki/Structural_similarity">SSIM</a> quality index of patient photos on labels by ~60% by integrating Atkinson Dithering algorithm into label rendering software.
              </Bullet>
              <Bullet>
                Integrated nightly robot backups into SCADA system which led to ~20% more healthy backups.
              </Bullet>
              <Bullet>
                Saved about 1 hour of setup time per robot by implementing a "personality" script which led to a streamline configuration process.
              </Bullet>
              <Bullet>
                Implemented automated provisioning and distribution system for robot VPN keys which saved ~30 minutes of build time per robot.
              </Bullet>
            </BulletList>
          </HistoryContent>
        </History>
      </div>
    </div>
    <div class="skills pw-flex-columns pw-alignment-start-center">
      <div class="pw-content-max-width pw-padding-2x">
        <div class="md-display-3 pw-margin-vertical-4x pw-text-uppercase">Skills</div>
        <ul class="skills-table">
          <li class="skill-table-row pw-flex-columns pw-alignment-center-center" v-for="skill in skills" :key="skill.header">
            <Header class="pw-font-weight-300 md-headline pw-text-color-primary">{{ skill.header }}</Header>
            <div class="skill-table-row-content md-body-1">{{ skill.items.join(", ") }}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="education pw-flex-columns pw-alignment-start-center">
      <div class="pw-content-max-width pw-padding-2x">
        <div class="md-display-3 pw-margin-vertical-4x pw-text-uppercase">Education</div>
        <History>
          <HistoryContent>
            <HistoryHeader slot="header" subheading="University of Louisiana at Lafayette (Lafayette, Louisiana)" headline="B.S. Computer Science"/>
            <TimeFrame class="md-primary" :start="new Date(2012, 7)" :end="new Date(2016, 4)"/>
            <BulletList slot="content">
              <Bullet>Official Minor in Mathematics</Bullet>
              <Bullet>GPA: 3.93 / 4.00</Bullet>
            </BulletList>
          </HistoryContent>
        </History>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TimeFrame from "@/components/resume/TimeFrame.vue";
import History from "@/components/resume/History.vue";
import HistoryHeader from "@/components/resume/HistoryHeader.vue";
import HistoryContent from "@/components/resume/HistoryContent.vue";
import Bullet from "@/components/resume/Bullet.vue";
import BulletList from "@/components/resume/BulletList.vue";
import Header from "@/components/resume/Header.vue";

@Component({
  components: {
    TimeFrame,
    HistoryContent,
    HistoryHeader,
    History,
    Bullet,
    BulletList,
    Header
  }
})
export default class ResumeContent extends Vue {
  skills: Array<Object> = [
    {
      header: "Fluent",
      items: ["Python", "C"]
    },
    {
      header: "Profient In",
      items: ["Java", "JavaScript", "Bash", "PL/SQL", "Make"]
    },
    {
      header: "Prior Experience",
      items: ["C#", "Kotlin", "TypeScript", "Go", "Rust", "Haskell"]
    },
    {
      header: "Frameworks/Software",
      items: [
        "Git",
        "Jenkins",
        "PIL/Pillow",
        "AsyncIO",
        "AIOHttp",
        "Vue",
        "Angular",
        "OpenCV",
        "Flask",
        "SQLAlchemy",
        "PyUnit"
      ]
    }
  ];
}
</script>

<style lang="scss" scoped>
.previous-jobs {
  background: #e0e0e0;
  min-height: 500px;
}

.education {
  background: #e0e0e0;
  min-height: 500px;

  .bullet-list {
    columns: 2;

    @media (max-width: 600px) {
      columns: 1;
    }
  }
}

.skills {
  background: #f5f5f5;
  min-height: 500px;

  .skills-table {
    padding-left: 0;
    columns: 2;

    @media (max-width: 600px) {
      columns: 1;
    }

    .skill-table-row {
      display: block;
      padding-bottom: 24px;

      .skill-table-row-content {
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        margin-top: 4px;
      }
    }
  }
}

.pw-content-max-width {
  max-width: 800px;
  width: 100%;
}
</style>
