@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (primary: #0977b6, accent: #ff6e40, divider: unquote("#0000001e"), "header-text": #434343, "text-accent-on-background-variant": unquote("#00000073")));
@import "~vue-material/dist/theme/all";

%max-height {
  height: 100%;
}

%max-width {
  width: 100%;
}

%no-margin {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.pw-fill {
  height: 100%;
  width: 100%;
}

.pw-flex {
  flex: 1;
}

.pw-text-uppercase {
  text-transform: uppercase;
}

@for $iteration from 1 through 20 {
  .pw-flex-#{$iteration * 5} {
    flex: 1 1 #{$iteration * 5%};
  }
}

.pw-flex-columns {
  display: flex;
  flex-direction: column;
}

.pw-flex-rows {
  display: flex;
  flex-direction: row;
}

.pw-alignment-start {
  justify-content: flex-start;
}

.pw-alignment-center {
  justify-content: center;
}

.pw-alignment-end {
  justify-content: flex-end;
}

.pw-alignment-start-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.pw-alignment-start-center {
  justify-content: flex-start;
  align-items: center;
}

.pw-alignment-start-end {
  justify-content: flex-start;
  align-items: flex-end;
}

.pw-alignment-center-start {
  justify-content: center;
  align-items: flex-start;
}

.pw-alignment-center-center {
  justify-content: center;
  align-items: center;
}

.pw-alignment-center-end {
  justify-content: center;
  align-items: flex-end;
}

.pw-alignment-end-start {
  justify-content: flex-end;
  align-items: flex-start;
}

.pw-alignment-end-center {
  justify-content: flex-end;
  align-items: center;
}

.pw-alignment-end-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.pw-no-margin {
  @extend %no-margin;
}

.pw-max-height {
  @extend %max-height;
}

.pw-max-width {
  @extend %max-width;
}

.pw-text-no-wrap {
  white-space: nowrap;
}

.md-button {
  &.pw-max-height {
    @extend %max-height;
  }
}

.md-toolbar {
  &.pw-very-dense {
    min-height: 42px;
    max-height: 42px;
    height: 42px;
  }
}

@for $weight from 100 through 900 {
  .pw-font-weight-#{$weight} {
    font-weight: #{$weight};
  }
}

@for $padding from 1 through 12 {
  .pw-padding-#{$padding}x {
    padding: #{$padding * 8}px;
  }

  .pw-padding-top-#{$padding}x {
    padding-top: #{$padding * 8}px;
  }

  .pw-padding-bottom-#{$padding}x {
    padding-bottom: #{$padding * 8}px;
  }

  .pw-padding-left-#{$padding}x {
    padding-left: #{$padding * 8}px;
  }

  .pw-padding-right-#{$padding}x {
    padding-right: #{$padding * 8}px;
  }

  .pw-padding-horizontal-#{$padding}x {
    @extend .pw-padding-left-#{$padding}x;
    @extend .pw-padding-right-#{$padding}x;
  }

  .pw-padding-vertical-#{$padding}x {
    @extend .pw-padding-top-#{$padding}x;
    @extend .pw-padding-bottom-#{$padding}x;
  }
}

@for $margin from 1 through 12 {
  .pw-margin-#{$margin}x {
    margin: #{$margin * 8}px;
  }

  .pw-margin-top-#{$margin}x {
    margin-top: #{$margin * 8}px;
  }

  .pw-margin-bottom-#{$margin}x {
    margin-bottom: #{$margin * 8}px;
  }

  .pw-margin-left-#{$margin}x {
    margin-left: #{$margin * 8}px;
  }

  .pw-margin-right-#{$margin}x {
    margin-right: #{$margin * 8}px;
  }

  .pw-margin-horizontal-#{$margin}x {
    @extend .pw-margin-left-#{$margin}x;
    @extend .pw-margin-right-#{$margin}x;
  }

  .pw-margin-vertical-#{$margin}x {
    @extend .pw-margin-top-#{$margin}x;
    @extend .pw-margin-bottom-#{$margin}x;
  }
}

@for $iteration from 1 through 12 {
  .pw-width-#{round($iteration * 8.33)} {
    min-width: #{$iteration * 8.33%};
    max-width: #{$iteration * 8.33%};
    width: #{$iteration * 8.33%};
  }

  .pw-height-#{round($iteration * 8.33)} {
    min-height: #{$iteration * 8.33%};
    max-height: #{$iteration * 8.33%};
    height: #{$iteration * 8.33%};
  }

  .pw-size-#{round($iteration * 8.33)} {
    @extend .pw-width-#{round($iteration * 8.33)};
    @extend .pw-height-#{round($iteration * 8.33)};
  }
}

.md-toolbar {
  .pw-toolbar-spacer {
    flex: 1;
  }
}

.md-button {
  min-width: 60px;
}

.pw-text-color-primary {
  color: var(--md-theme-default-primary) !important;
}

.pw-text-color-accent {
  color: var(--md-theme-default-accent) !important;
}
