<template>
  <div id="app" class="pw-fill pw-flex-columns">
    <md-toolbar class="md-layout md-alignment-center-space-between md-small pw-xsmall-font-size-reduction">
      <div class="md-toolbar-row">
        <div class="md-alignment-center-left">
          <md-button class="pw-no-margin md-primary pw-home-button-size" 
                    :md-ripple="false" 
                    :to="{ name: 'home' }"
                    :class="{'pw-button-selected': $route.name === 'home'}">
            <md-icon class="md-primary">person</md-icon>
            <span class="md-small-hide pw-margin-left-1x">Taylor</span>
          </md-button>
        </div>
        <span class="toolbar-spacer md-small-hide"></span>
        <div class="md-layout md-layout-nowrap md-alignment-center-right">
          <md-button class="md-layout-item pw-no-margin pw-toolbar-button"
                    :md-ripple="false" 
                    :to="{ name: 'about' }"
                    :class="{'pw-button-selected': $route.name === 'about'}">
            <span>About Me</span>
          </md-button>
          <md-button class="md-layout-item pw-no-margin pw-toolbar-button" 
                    :md-ripple="false" 
                    :to="{ name: 'resume' }"
                    :class="{'pw-button-selected': $route.name === 'resume'}">
            <span>Resumé</span>
          </md-button>
          <md-button class="md-layout-item pw-no-margin pw-toolbar-button" 
                    :md-ripple="false" 
                    :to="{ name: 'projects' }"
                    :class="{'pw-button-selected': $route.name === 'projects'}">
            <span>Projects</span>
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <md-content class="pw-page-content md-scrollbar pw-flex">
      <router-view class="pw-page-inner-content"/>
      <md-toolbar class="pw-very-dense pw-copyright-bar">
        <span>Copyright 2018 © Taylor D. Lanclos. All Rights Reserved.</span>
      </md-toolbar>
    </md-content>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.pw-xsmall-font-size-reduction {
  @media (max-width: 600px) {
    span {
      font-size: 0.85em;
    }
  }
}

.md-toolbar {
  .md-toolbar-row {
    overflow-x: auto;
  }
}

.pw-toolbar-button {
  max-width: 150px;
  min-width: 0;
}

.md-button {
  &.pw-button-selected::before {
    background-color: currentColor;
    opacity: 0.05;
  }

  &.pw-navigation-show {
    display: none;

    @media (max-width: 600px) {
      display: unset;
    }
  }
}

.pw-page-content {
  flex-direction: column;
  overflow-y: auto;
  background-color: #e0e0e0 !important;

  .pw-page-inner-content {
    min-height: calc(100% - 42px);
  }
}

.md-toolbar.pw-copyright-bar {
  position: relative;
  bottom: 0;
  background-color: #424242 !important;
  text-align: center;
  font-weight: 100;

  span {
    width: 100%;
    color: #eeeeee;
  }

  @media (max-width: 600px) {
    span {
      font-size: 0.75rem;
    }
  }
}
</style>
